<template>
<div>
	<div>
		<CurrentTemperature></CurrentTemperature>
		<Weather></Weather>
	</div>
	<TemperatureHistory></TemperatureHistory>
</div>
</template>

<script>
import CurrentTemperature from './CurrentTemperature'
import CurrentHumidity from './CurrentHumidity'
import TemperatureHistory from './TemperatureHistory'
import Weather from './Weather'

export default {
  components: {
	CurrentTemperature,
	CurrentHumidity,
	TemperatureHistory,
	Weather
  }
}
</script>

<style scoped>


</style>
