<template>
<div>
	<md-card>
		<md-card-header>
			Current Humidity
		</md-card-header>
		<md-card-content>
			<h1><span id='Humidity'>{{humidity}}</span>%</h1>	
		</md-card-content>
	</md-card>

</div>
</template>

<script>
export default {
  data () {
    return {
      humidity: 95
    }
  }
}
</script>

<style scoped>
.md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }

</style>
