<template>
	<md-card>
		<md-card-header>
			Current Temperature
		</md-card-header>
		<md-card-content>
			<h1><span id='Temperature'>{{temperature}}</span>°C	</h1>
			<div>{{lastUpdate | formatDate}}</div>
		</md-card-content>
	</md-card>
</template>

<script>
export default {
  data () {
    return {
      temperature: '',
	  lastUpdate: ''
    }
  },
  sockets:{
    connect: function(){
      console.log('Connected to server.')
    },
	currentTemperature: function(val) {
		console.log('Received updated data from server. ' + JSON.stringify(val));
		this.temperature = val.temperature;
		this.lastUpdate = val.timestamp;
	}
  }
}
</script>

<style scoped>
.md-card {
    width: 320px;
    margin: 4px;
	min-height: 170px;
    display: inline-block;
    vertical-align: top;
  }

</style>
