<template>
  <md-card>
    <line-chart :chart-data="datacollection" :options="{responsive: false, maintainAspectRatio: false}"
  :width="800"
  :height="400" ></line-chart>
  </md-card>
</template>

<script>
  import LineChart from './LineChart'
  import axios from 'axios';
  import moment from 'moment';

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
		this.refreshGraph();
    },
	sockets:{
		connect: function(){
		  console.log('Graph connected to server.')
		},
		currentTemperature: function(val) {
			this.refreshGraph();
		}
	  },
    methods: {
		refreshGraph() {
			console.log('getting latest graph data');
			axios.get(`http://localhost:3000/temperatureHistory`)
			.then(response => {
				var labels = [];
				var data = [];
				var weatherData = [];
				for(var i = 0; i < response.data.length; i++) {
					var time = moment(String(response.data[i].timestamp)).format('MMM D, h:mm a');
					labels.unshift(time);
					data.unshift(response.data[i].temperature);
					weatherData.push(response.data[i].temperature);
				}
				this.fillData(labels, data, weatherData);
			})
			.catch(e => {
				console.log(e);
			});
		},
      fillData (labels, data, weatherData) {
        this.datacollection = {
          labels: labels,
          datasets: [
			{
				label: 'Outside Temperature',
				backgroundColor: '#6292e0',
				data: weatherData,
				fill: false
			},
            {
              label: 'Temperature',
              backgroundColor: '#f87979',
              data: data
            }
			
          ]
        }
      }
    }
  }
</script>

<style>
  .md-card {
    width: 80%;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }
</style>