<template>
	<md-card>
		<md-card-header>
			Weather
		</md-card-header>
		<md-card-content>
			<h1><span id='Temperature'>{{temperature}}</span>°C</h1>
			<img :src="image" :alt="conditions"/>
			<div>{{lastUpdate | formatDate}}</div>
		</md-card-content>
	</md-card>
</template>

<script>
import axios from 'axios';
export default {
	data () {
		return {
			temperature: '',
			lastUpdate: '',
			image: '',
			conditions: ''
		}
	},
	mounted () {
		this.getWeather();
    },
	methods: {
		getWeather() {
			console.log('getting weather');
			axios.get(`http://localhost:3000/weather`)
			.then(response => {
				if(response.data.success == false)
					console.log("Error getting weather: " + response.data.details);
				else {
					this.temperature = response.data.temp_c;
					this.lastUpdate = response.data.lastUpdate;
					this.image = response.data.image;
					this.conditions = response.data.conditions;
				}
			})
			.catch(e => {
				console.log(e);
			});
		}
	}
}
</script>

<style scoped>
.md-card {
    width: 320px;
    margin: 4px;
	min-height: 170px;
    display: inline-block;
    vertical-align: top;
  }
  
 h1 {
	display: inline;
 }

</style>
