<template>
  <ClimateMonitor></ClimateMonitor>
</template>

<script>
import ClimateMonitor from './components/ClimateMonitor'

export default {
  name: 'App',
  components: {
    ClimateMonitor
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
